@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main-section{
    background-color: #1F2937;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.main-section h3{
    color: white;
    font-weight: 500;
}
li a{
    text-decoration:none ;
    color: white;
}
li{
    display: inline-block;
    padding-left: 10px;
}
.heading{
    padding-inline: 35px;
    padding-top:5px ;
    display: flex;
    justify-content: space-between;
}
.defining{

    /* display: inline-block; */
    color: white;
    padding: 40px;
    /* background-color: aliceblue; */
}
.defining h1{
    font-weight: 400;
}
.defining span{
    font-size: 20px;
}
.image img{
    padding: 20px;
    /* align-items: ; */
    width: 60%;
    /* height: 50%; */
    /* background-image: url('Landing Page\assets\Fuji Mountain.jpg'); */
    background-size:cover;
    /* background-color: red; */
}

.section2{
    width: 100%;
    height: 100%;
    padding: 30px;
}
.section2 .head{
    text-align: center;
    font-size: 30px;
}
.cardsContainer {
    display: flex;
    flex-direction: row;

    padding: 10px;

    text-align: center;
}

.cardsContainer img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}
.section3{
    width: 100%;
    height: 100%;
    padding: 30px;
}
.quoteBorder{
    padding: 70px;
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    border-left: rgb(161, 20, 20) 25px ;
    background-color: #4e5764;
}
.section4{
    width: 100%;
    height: 100%;
    padding: 30px;
}
.signup{
    display: flex;
    flex-direction: row;
    padding: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: blue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
}
.section4 button{
    width: 350px;
}
